:root {
    --white: #eee;
    --primary: #00bff3;
    --secondary: #f0e702;
    --gray: #333;
    --black: #191919;
    --warning: #ddc248;
    --danger: #cc2424;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-shadow: 0 4px 15px #00000030;
}

.alerts {
    position: fixed;
    display: flex;
    height: auto;
    width: 100vw;
    justify-content: center;
}

.alerts_warning {
    background: var(--warning);
    color: #66581c;
    width: 100%;
    text-align: center;
    padding: 1% 0;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.btn {
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background: none;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    cursor: pointer;
}

.primary {
    background: var(--primary);
    color: var(--white);
}

.secondary {
    background: var(--secondary);
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-white {
    color: var(--white);
}

.postcreator {
    max-width: 150px;
    max-height: 2.5rem;
    border-radius: 6px;
    background: var(--primary);
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
}

.postcreator--open {
    max-height: 100%;
    max-width: 100%;
}

.centerform {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 4%;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: transform 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
    will-change: transform;
}

.centerform--open {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: transform 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
    will-change: transform;
}

input {
    padding: 10px 0 10px 3%;
    background: var(--white);
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    width: 90%;
}

.input-field {
    display: flex;
    flex-flow: column nowrap;
    margin: 3% 0;
}

label {
    margin: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white);
}

.post {
    border-bottom: 2px solid var(--black);
    padding-bottom: 2%;
}

.post:last-child {
    border: none;
}